body {
	background-color: lightgray;
	font-family: 'Roboto Mono', monospace;
}

h1, h2 {
	margin-right: auto;
	margin-left: auto;
	width: 390px;
}

h2 {
	width: 260px;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 80%;
	width: auto;
}

